{
	"SSID": "my_network_SSID",
	"PWD": "my_WIFI_PASSWORD",
	"IP": "RPI_STATIC_IP",
	"PORT": "RPI_LISTENNING_PORT",
	"IP2": "ESP32_LCD_DISPLAY_static_IP", 
	"PORT2": "ESP32_LCD_DISPLAY_LISTENING_PORT"
}
